<div class="split-container">
  <!-- Sección izquierda: Imagen o mensaje -->
  <div class="left-section">
    <div class="welcome-message">
      <h1>Bienvenido de nuevo</h1>
      <p>Accede a tu cuenta para disfrutar de nuestro portal de vinos y uvas.</p>
    </div>
  </div>

  <!-- Sección derecha: Formulario de Login -->
  <div class="right-section">
    <mat-card class="login-card">
      <mat-card-title>Iniciar Sesión</mat-card-title>
      <mat-card-content>
        <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
        <form >
          <!-- Campo de correo -->
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="email" type="email" />
          </mat-form-field>

          <!-- Campo de contraseña -->
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>

          <!-- Checkbox para "Mantener sesión iniciada" -->
          <!-- <mat-checkbox class="remember-me">Mantener sesión iniciada</mat-checkbox> -->

          <!-- Botón de Login -->
          <!-- <button mat-raised-button class="login-button" [disabled]="!loginForm.valid"> -->
          <button  class="login-button" >
            Ingresar
          </button>
        </form>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <a routerLink="/register" class="register-link">¿No tienes una cuenta? Regístrate aquí</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
