.content {
  flex: 1;
  overflow: auto; /* Scroll general para el layout */
  margin-bottom: 56px; /* Espacio reservado para el footer fijo */
}

.footer-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px; /* Altura del footer */
}

.table-container {
  overflow: unset; /* Quita los scrollbars internos */
  padding: 8px;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.gap-3 {
  gap: 16px;
}

.mb-4 {
  margin-bottom: 16px;
}

.filters mat-form-field,
.filters button {
  height: 56px; /* Asegura altura uniforme */
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espaciado entre elementos */
  margin-bottom: 16px; /* Espaciado con la tabla */
  justify-content: space-between;
  align-items: center;
}
