html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* Scroll en el layout */
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe toda la altura */
}

.content {
  flex: 1; /* Ocupa todo el espacio disponible */
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto; /* Si el contenido es demasiado alto, el scroll será aquí */
}


